.No,.No1{
    width: 70px;
}
.Roleid,.emproleid{
    width: 100px;
}
.Department,.empdeptname{
    width: 150px;
}
.Role,.emprolename{
    width: 500px;
}
.text-center{
    width: 100px;
}
.button muted-button{
    width: 90px ;
}